<div>
    <h1>Welcome to about page</h1>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, fugit odit ullam sed asperiores eligendi veniam eius consequuntur numquam suscipit. Neque perferendis nobis accusamus adipisci dolor obcaecati animi aliquam quibusdam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos necessitatibus exercitationem nisi, dolorum obcaecati, esse recusandae repudiandae doloremque expedita facilis natus? Unde reiciendis odio quia animi adipisci aut assumenda consectetur!</p>
    </div>
</div>
