
.menu-bar{
    width: 100%;
    background-color: black;
    color: #fff;
    padding: .5em;
}
ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
ul li{
    list-style-type: none;
}  
ul li a{
    text-decoration: none;
    color: beige;
    padding: 3em 2em;
}
ul li a:hover{
    color: rgb(228, 160, 70);
    cursor: pointer;
}